<h1 class="mt-5 mb-4">Login</h1>
<% if (messages.success && messages.success.length > 0) { %>
    <div class="error" style="color: red;">
        <script>
            setTimeout(() => {
                alert('<%= messages.success[0] %>');
            }, 0); // Display immediately
        </script>
    </div>
<% } %>

<% if (messages.error && messages.error.length > 0) { %>
    <div class="error">
        <script>
            setTimeout(() => {
                alert('<%= messages.error[0] %>');
            }, 0); // Display immediately
        </script>
    </div>
<% } %>
<form action="/login" method="post">
    
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

<a href="/auth/google">Login with Google</a>


<br>
<br>
<br>
<div>
    <p>Forgot password? <a href="/reset-password" class="btn btn-outline-primary">Reset password</a> </p>
</div>