<% if (messages.error && messages.error.length > 0) { %>
    <div class="error">
        <script>
            setTimeout(() => {
                alert('<%= messages.error[0] %>');
            }, 0); // Display immediately
        </script>
    </div>
<% } %>

<% if (messages.success && messages.success.length > 0) { %>
    <div class="error" style="color: red;">
        <script>
            setTimeout(() => {
                alert('<%= messages.success[0] %>');
            }, 0); // Display immediately
        </script>
    </div>
<% } %>

<form action="/reset-password/<%=user.resetToken%>" method="post">

    <!-- <div class="mb-3">
        <label for="email" class="form-label">Enter Email address</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div> -->
    <div class="mb-3">
        <label for="password" class="form-label">Enter new Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm new Password</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
    </div>
   
    
    <button type="submit" class="btn btn-primary">Reset</button>
</form>