<% if (messages.error && messages.error.length > 0) { %>
    <div class="error">
        <script>
            setTimeout(() => {
                alert('<%= messages.error[0] %>');
            }, 0); // Display immediately
        </script>
    </div>
<% } %>

<% if (messages.success && messages.success.length > 0) { %>
    <div class="error" style="color: red;">
        <script>
            setTimeout(() => {
                alert('<%= messages.success[0] %>');
            }, 0); // Display immediately
        </script>
    </div>
<% } %>

<form action="/reset-password" method="post">
    
    <div class="mb-3">
        <label for="email" class="form-label">Enter your email address</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
   
    
    <button type="submit" class="btn btn-primary">Send Email</button>
</form>